# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Compiled C++ extensions
*.so

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
env/
*.venv
.venv
env/
ENV/
venv.bak/
env.bak/

# IDE specific files
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log
logs/
log/
LOG/
LOGS/
*.swp

wandb